// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: 'Raleway', sans-serif;
}

div { 
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul ul {
  margin-left: -30px;
}

.li__nested {
  margin-bottom: 4px;
}

.vertical_spacer__5 {
  display: inline-block;
  width: 5px;
}

.u__mb__5 {
  margin-bottom: 5px;
}

.u__mb__15 {
  margin-bottom: 15px;
}

.t__small {
  font-size: 11px;
  color: gray;
}

.t__medium {
  font-size: 12px;
  color: darkslategrey;
}

.c__green {
  color: green;
}

.bc__good {
  background-color: #C6F6BF;
}

.bc__warning {
  background-color: lightgoldenrodyellow;
}

.bc__bad {
  background-color: lightcoral;
}

.container {
  width: 820px;
  padding: 10px;
  margin: auto;
}

.header {
  text-align: center;
}

.content_container {
  border: 1px solid #E5E5E5;
  display: inline-block;
  padding: 10px;
  overflow: auto;
}

// TODAY

.today__container {
  width: 290px;
  height: 300px;
}

.today__overview {
  width: 190px;
  height: 300px;
}

// WEEKLY

.weekly__container {
  width: 190px;
  height: 150px;
  margin-bottom: 10px;
}
